.container-fluid {
    margin-top: 0px;
}

.wrapper {
    min-height: 100vh;
    max-height: 100%;
}

main {
    max-height: 100%;
    overflow-y: auto;
}





#info {
    color: #505253;
    text-align: center;
    width: 100%;
    font-size: 20px;
    
}

p {
    font-family: Georgia;
    font-size: 20px;
    line-height: 1.50;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #05445E;
}


#footer {
    display: flex;
    justify-content: center;
    height: 3em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #05445E;
    color: #2980b9;
    text-align: center;
}

.twitter,
.facebook,
.instagram,
.linkedin {
    color: #fff;
    justify-content: center;
    align-items: center;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    .class-name {
        font-size: 16px;
    }

    .infonav {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .class-name {
        font-size: 30px;
    }

    .infonav {
        display: none;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .class-name {
        font-size: 40px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .class-name {
        font-size: 48px;
    }
}